@page
@model Snackis.Pages.GroupMessagesModel
@{
}

<div class="row col-md-12">
    <div class="col-md-6">
        <div class="card">
            dfdfdfdf
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">

        </div>

    </div>

</div>