@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-12">
    <div class="text-center m-5">
        <h1>SNACKIS</h1>
    </div>


    @*<component type="typeof(Components.HeadersComponent)" render-mode="Static" param-MainThreads='Model.MainThreads' />*@
    @foreach (var Header in Model.MainThreads.OrderBy(m => m.Title))
    {
        <div class="card p-3 m-2" style="background-color:grey">
            <h3 style="padding-bottom:2px"><a href="/SubThreadPage?MainThreadId=@Header.Id">@Header.Title</a></h3>
            <hr class="m-1" />
            <h6>@Header.TitleExample1, @Header.TitleExample2, @Header.TitleExample3</h6>
        </div>
    }



</div>