@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>Snackis privacy policy</h1><br />
</div>
<div class="text-center" style="color:white">
    <p>Denna sida använder sig av cookies. Du går med på användandet av cookies genom att trycka "OK" på den popup som visas första gången du använder sidan.</p>
    <br />

    <p>
        När du registrerar dig så måste du ange en del personlig information. Denna information kommer att tas bort om du väljer att avsluta ditt konto.
        Däremot kommer viss information finnas kvar på forumet. Alla inlägg du gjort i grupper och i forumtrådar kommer att finnas kvar om du väljer att avsluta ditt konto.
        Detta för att inte förstöra de olika konversationer som finns på sidan. Även trådar du själv skapat kommer att finnas kvar. Samma sak med grupper som du själv skapat
        och deltar i. Dessa kommer finnas kvar och kommer kunna användas av de användare som fortfarande är aktiva på Snackis Forum.
    </p>
</div>