@page
@model Snackis.Pages.ShowImageModel
@{
}

<div>
    <button type="button" onclick="window.open('', '_self', ''); window.close();"><img src="@Model.ImageURL" style="width:100%;height:auto" /></button>
</div>