@page
@model Snackis.Pages.Admin.AdminModel

@using Microsoft.AspNetCore.Identity
@using Snackis.Areas.Identity.Data

@inject UserManager<SnackisUser> UserManager 
@inject RoleManager<IdentityRole> RoleManager
@{
}


@if (Model.AdminIsLoggedIn)
{
<div class="row">
    <div class="col-md-4">
        <div class="card text-center box-shadow admin-card-style">
            <form method="post">
                <div class="card-body text-center">
                    <div class="card-header">
                        <h3 style="font-weight:500">Skapa "Main Tråd"</h3>
                    </div>
                    <div class="m-3">
                        <label>Titel:</label><br />
                        <input type="text" style="width:100%" name="AMainThread.Title" /><br />
                        <label>Titelexempel:</label><br />
                        <input type="text" style="width:100%" name="AMainThread.TitleExample1" /><br />
                        <label>Titelexempel:</label><br />
                        <input type="text" style="width:100%" name="AMainThread.TitleExample2" /><br />
                        <label>Titelexempel:</label><br />
                        <input type="text" style="width:100%" name="AMainThread.TitleExample3" />
                    </div>
                </div>
                <div class="card-footer admin-footer-style">
                    <button asp-page-handler="MainThread" type="submit" class="btn btn-primary">Spara Bastråd</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="col-md-12 mb-3">
            <div class="card text-center admin-card-style">
                <form method="post">
                    <div class="card-body text-center">
                        <div class="card-header">
                            <h3 style="font-weight:500">Lägg till "fult ord"</h3>
                        </div>
                        <div class="m-3">
                            <label>Fult ord:</label><br />
                            <input type="text" name="ABadWord.CensoredWord" /><br />
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="card-footer admin-footer-style">
                        <button asp-page-handler="AddBadWord" type="submit" class="btn btn-primary">Spara fult ord</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-center admin-card-style">
                <form method="post">
                    <div class="card-body">
                        <div class="card-header">
                            <h3 style="font-weight:500">Fula ord</h3>
                        </div>
                        <div>
                            @foreach (var word in Model.ListOfBadWords.OrderBy(w => w.CensoredWord))
                            {
                                    @word.CensoredWord<a title="Ta bort" href="/Admin/Admin?DeleteBadWordId=@word.Id">X</a><br />
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="col-md-12 mb-3">
            <div class="card text-center admin-card-style">
                <form method="post">
                    <div class="card-body text-center">
                        <div class="card-header">
                            <h3 style="font-weight:500">Skapa ny "Roll"</h3>
                        </div>
                        <div class="m-3">
                            <label>Rollnamn</label><br />
                            <input type="text" name="RoleName" /><br />
                        </div>
                        <div>
                            @foreach (var roles in Model.RoleList)
                            {
                                @roles.Name<br />
                            }
                        </div>
                    </div>
                    <div class="card-footer admin-footer-style">
                        <button asp-page-handler="CreateRole" type="submit" class="btn btn-primary">Spara Roll</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card text-center admin-card-style">
                <div class="card-body text-center">
                    <div class="card-header">
                        <h3>Användare</h3>
                    </div>
                    <div class="m-3">
                        <table>
                            <tr>
                                <th>Anv namn</th>
                                @foreach (var role in Model.RoleList)
                                {
                                    <th>@role.Name</th>
                                }
                            </tr>
                            @foreach (var user in Model.UserList)
	                        {
                                <tr>
                                    <td>@user.NickName </td>
                                    @foreach (var role in Model.RoleList)
                                    {
                                        if (await UserManager.IsInRoleAsync(user, role.Name))
                                        {
                                            <td><a href="?RemoveUserIdFromRole=@user.Id&Role=@role.Name" class="bg-success text-white">YES</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="?AddUserIdToRole=@user.Id&Role=@role.Name" class="bg-danger text-white">NO</a></td>
                                        }
                                    }
                                </tr>
	                        }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}